body{
	box-sizing: border-box;
	background-image: url("../images/test6.png");
    background-repeat: repeat;
}

.sectionunoA{
	margin-top: 50px;
}

.sectionunoB{
	margin-top: 50px;
	margin-bottom: 50px;
}

.sectionunoC{
	margin-top: 50px;
	margin-bottom: 50px;
}

.sectionunoD{
	margin-top: 50px;
	margin-bottom: 50px;
}

.out{
	color: white;
	font-size: 25px;
}

.out:hover{
	text-decoration:none;
	color: #ce9729;
}

.mar{
	margin-top: 50px;
}

.mar1{
       margin-top:15px;
       margin-bottom: 40px;
}

.center{
	width: 1080px;
	height: 720px;
	margin-left: auto;
	margin-right: auto;
}

.false{
	display: none;
}