body{
	box-sizing: border-box;
	background-image: url("../images/test5.png");
    background-repeat: repeat;
	
}

.cenl{
	text-decoration: none;
}

.logi{
	margin-top: 40px;
}

.contra{
	margin-top: 80px;
}

.forem{
	background-color:#B3B3B3;
	height: 300px;
	border-radius: 18px;
}

.contraseña{
	display: block;
	margin-top: 70px;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: transparent;
	border-bottom-color: black;
	width: 250px;
	font-size: 30px;
	border-radius: 2px;
	transition: all ease 2s;
	height: 50px;
}

.contraseña:hover{
	width: 350px;
}

.contraseña:focus{
	outline: none;
}

.boton{
	display: block;
	margin-top: 30px;
	background-color:rgba(240, 101, 67, 0.6);
	border:none;
	border-radius: 30px;
	width: 200px;
	height: 40px;
	color: white;
	transition: all ease 0.5s;
}

.boton:hover{
	background-color:rgba(240, 101, 67, 1);
}

.boton:focus{
	outline: none;
}

.mensajes{
	margin-top: 30px;
	color: white;
}

.fa-check{
	color: #5B8C5A;
}

.fa-times{
	color: #E3655B;
}

.true{
	display: none;
}

.false{
	display: none;
}

.prueba{
	margin-top: 100px;
}