
body{
	box-sizing: border-box;
	background-image: url("../images/test6.png");
    background-repeat: repeat;
	
}

th,td,.clog{
	color: black;
	border: 3px solid black;
}

thead,tbody{
	background-color: #B3B3B3;
	border: 5px solid black;
}

table{
	border: 3px solid black;
}

.prueba{
	margin-top: 50px;
}

.infotable{
	margin-top:250px;
}

.weltex{
	color: white;
	font-size: 25px;
}

.weltex:hover{
	color: #ce9729;
	text-decoration: none;
}

.table{
	margin-top: -10px; 
}
