body{
	box-sizing: border-box;
	background-image: url("../images/test6.png");
    background-repeat: repeat;
}

.sectionunoA{
	margin-top: 50px;
}

.sectionunoB{
	margin-top: 50px;
	margin-bottom: 50px;
}

.sectionunoC{
	margin-top: 50px;
	margin-bottom: 50px;
}

.sectionunoD{
	margin-top: 50px;
	margin-bottom: 50px;
}

.out{
	color: white;
	font-size: 25px;
}

.out:hover{
	text-decoration:none;
	color: #ce9729;
}

.mar{
	margin-top: 50px;
}

.mar1{
       margin-top:15px;
       margin-bottom: 40px;
}

.center{
	width: 1080px;
	height: 720px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -100px;
}

.false{
	display: none;
}

.video{
	width: 1080px;
}

.menu{
	font-size: 30px;
	color: white;
}

.btn-default {
    background-color: transparent;
    border-color: #ccc;
    border-color: none;
    text-decoration: none;
    outline: none;
    border-radius: 32px;
}

.caret{
	color: white;
}

.btn .caret {
    margin-left: 11px;
}

.btn:hover{
	background-color: black;
	border:5px solid #ce9729 ;
}

.btn-default.active, .btn-default, .open>.dropdown-toggle.btn-default:hover {
    color: none;
    background-color: none;
    border-color: none;
    border:5px solid white;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default:focus {
    color: none;
    background-color: none;
    border-color: none;
    border:5px solid #ce9729 ;
}


.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default:focus {
    color: black;
    background-color: black;
    border-color: #ce9729 ;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

btn-default.focus, .btn-default:focus {
    color: #333;
    background-color:black;
    border-color: #ce9729;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
	border-color: #ce9729;
 	background-color: transparent;  
}

.dropdown-menu>li>a {
    color: white;
}

.dropdown-menu {
    background-color: #7A7978;
 }

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #ce9729;
    color: white;
}